@page
@model FRS.Pages.DepositModel
@{
    ViewData["Title"] = "Show Deposit";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>

    h1 {
        color: #333; /* Darker color for contrast */
        margin-bottom: 20px;
    }

    label {
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
    }

    input[type="number"], input[type="submit"] {
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 100%; /* Full width */
        font-size: 18px; /* Larger font size for inputs */
    }

    input[type="submit"] {
        background-color: #007bff; /* Bootstrap primary blue for consistency */
        color: white;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: darkblue;
    }

    #messageBox {
        margin-top: 20px;
        color: green;
        font-weight: bold;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="form-container">
    <form method="post">
        <label for="depositAmount">How much money would you like to deposit:</label>
        <input type="number" asp-for="DepositAmount" />
        <span asp-validation-for="DepositAmount" class="text-danger"></span>
        <input type="submit" value="Submit" />
    </form>

    @if (Model.ShowMessage)
    {
        <div id="messageBox">
            <p>@Model.Message</p>
        </div>
    }
</div>
